*{
	margin:0;
	padding: 0;
}

body{
	width: 1349px;
}

#mooc{
	width: 400px;
	height: 190px;
	margin: 50px auto;
	border-radius: 5px;
	box-shadow: 0 0 5px;
}


#moocBox{
	height: 150px;
	overflow: hidden;        /*当此内超出的内容隐藏时，才能出现滚动*/
}

h1{
	background: red;
	color:#fff;
	text-align: center;
}

ul li{
	list-style: none;
	line-height: 30px;
	margin-left: 100px;
}

























