*{
	margin:0;
	padding: 0;
}
#content{
	position: relative;
}

div.blc{
	padding: 15px 0 0 15px;
	float: left;
}
div.pic{
	padding:10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;   /*设置阴影，水平和垂直方向上偏移值为0,阴影模糊度为5px；*/
}
.pic img{
	height: auto;
	width: 236px;
}

















