*{
	margin:0;
	padding:0;
	font-family: microsoft yahei;
	
}

li{
	list-style: none;
}

#nav{
	cursor: pointer;
	position: relative;
	height:60px;
	width: 100%;
	background:#6cae2b;
	z-index: 2;          /*用于垂直显示，使下拉菜单不被banner遮盖；使.sub_menu的父元素z-index>#scroll的父元素，*/
}

.nav_center{
	height:60px;
	width:980px;
	margin:0 auto;
    line-height: 60px;
}

.logo{
	float:left;
	width:271px;
	color:#fff;
	font-size: 20px;
}

#nav a{
	color:#fff;
	text-decoration: none;
}

.lists>li{
	list-style: none;
	float:left;	
	width:120px;
    font-size: 16px;
	line-height: 60px;
	text-align: center;
}

.lists>li>a:hover{
	display: block;
	height:60px;
	width:120px;
	background: green;
}

.reg{
	float:right;
	font-size: 14px;
}

.sub_menu{
	width:170px;
	background:rgba(108, 174, 43, 0.5);
	padding:10px 0;
	display: none;
    position: absolute;
 
}

.sub_menu ul li{
	text-indent: -50px;
	list-style: none;
	height:40px;
	line-height: 40px;

}

.sub_menu ul li a:hover{
	display:block;
	height:40px;
	background: #37561b;
}




/*轮播* /
/*导航条的定位影响此处*/
#banner{
	cursor: pointer;
    position: relative;
	height:440px;
	width: 100%;
	z-index: 1;
	overflow: hidden;
}

#scroll{
    position: absolute;
	width: 8280px;
	height:440px;



}
#scroll img{
	float:left; 
	border:0px;  /*ie会由于默认值*/
}

#buttons{
	position: absolute;
	height:15px;
	width:80px;
	bottom: 20px;
	left:600px;
    background: rgba(0,0,0,.4);
	border-radius: 4px;

}

#buttons span{
	cursor: pointer;
	float:left;
    border-radius: 50%;
    width: 9px;
    height:9px;
    margin-left:5px;
    margin-top: 3px;
  /*  border: 1px solid #6cae2b; */
}

.arrow{
	position: absolute;
	left:20px;
	display: none;
}

.on{
	background: #6cae2b;
}


/*活动栏*/

#activity{
	cursor: pointer;
	float: left;
	height: 76px;
	width: 1349px;
}

#actcenter{
	width: 980px;
	height: 68px;
	margin: 0 auto;
}

.actlist{
      float: left;
      width: 215px ;
      height:46px;
      margin-top:17px;
      line-height: 46px;
      text-indent: 15px;

}
* a:hover{
	color:#6BAE2A;
	cursor: pointer;
}

.bac{

	float: left;
	width:57px;
	height:46px;
	background: url(images/sprite.png) no-repeat;
}

#last{
   	float: left;
	width: 334px ;
	height:46px;
	text-indent: 65px;
	margin-top:17px;
	font-size: 12px;
	border-left: 1px solid #D0D0D0;
}
#last div{
    width: 334px ;
	height:46px;
	margin-left: 15px;
	background: url(images/sprite.png) no-repeat 0 -380px;
	line-height: 22px;
}





/*主要部分*/

#main{
	cursor:  auto;  /*箭头*/
	float: left;
	width: 1349px;
	height:;
	background: #E6E6E6;
}

#main_top{
	margin:50px auto;
	width: 980px;
}
#post{
	width:980px;
	height:60px;

}
#post div{
	cursor: pointer;
	width:210px;
	height:60px;
	background:#6cae2b;
	line-height: 60px;
	text-align: center;
	margin:0 auto;
	color:#fff;
	
}

/*主要部分*/
#main_center{
	margin-top: 50px;
}
#main_center ul li{

	width: 244px;
	height: 118px;
	font-size: 12px;
	float: left;
	line-height: 1.5;
}

.peg{
	float:left;
	width:86px;
	height:86px;
	overflow: hidden;
	background: url(images/icon_post.png) no-repeat;
	/*border-radius: 86px;*/
}

.dlit{
	margin-left: 10px;
	width: 130px;
	float:left;
}
.dlit dt{
	border-bottom: 1px solid #D9D9D9;
	font-size: 16px;
	color: #656565;
}
.dlit dd{
	float:left;
	width: 65px;
	height: 18px;
	margin-top: 8px;
}

/*底部*/
#footer{
	height:140px;
	font-size: 12px;
	background: #F2F2F2;
}
#fonter_contains{

	padding: 25px 0;
	color: #797979;
	clear: both;
	width: 1349px;
	text-align: center;
}
#fonter_contains div{
	clear: both;
}
#content_ul{
	margin-left: 530px;
}
#content_ul li{

	float: left;
}













